<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <span class="labelperso">KIOSKO</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info" style="display: flex;text-align: center!important; color: #000;" title="{{user}}">
        <a class="d-block"> {{user}} </a>
      </div>
    </div>

    <nav class="mt-2">

      <ul data-widget="treeview" class="nav nav-pills nav-sidebar flex-column" data-accordion="false" role="menu">

        <!--
        <li class="nav-item" *ngFor="let option of menuItems">
          <a [href]="'#/dashboard/'+option.link" class="nav-link">
            <i class="far fa-circle"></i>&nbsp;
            <p>{{ option.nombre }}</p>
          </a>
        </li>
        -->

        <li class="nav-item menu-open" *ngFor="let option of menuItems" >
          <a  class="nav-link" (click)="toggleSubmenu(option)" style="background-color: rgb(0, 32, 49);"> <!--  href="javascrip:void();"  [href]=option.url-->
          <!--<a [href]="'#/dashboard/'+option.url" class="nav-link">-->
          <!-- <i class="far fa-circle"></i>&nbsp;-->
            <i class="{{'nav-icon ' + option.icono}}"></i>
            <p>{{ option.titulo }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <!-- Tener cuidado con esta etiqueta, solo 
          deberia ser
                    <ul class="nav" *ngIf="option.expanded===true">  
          -->
          <ul class="nav" *ngIf="option.expanded">
            <li *ngFor="let sub of option.submenu" class="nav-item">

                <!--<a <a [href]="'#/inicio/'+sub.url" class="nav-link">-->
                 <a [routerLink]="sub.url" class="nav-link" style="cursor: pointer;">  
                    <i class={{sub.icono}}></i>
                    <p>&nbsp; {{sub.titulo}}</p>
                  </a>
                  
                <!--
                  <ul class="nav nav-treeview">
                    <li *ngFor="let subsubmenu of sub.submenus">
                  
                        <a [routerLink]="subsubmenu.url">
                          <i class="material-icons">{{ subsubmenu.icono }}</i>
                          {{ subsubmenu.titulo }}
                        </a>
                      </li>
                  </ul>  
                -->

            </li>

        </ul>


      </li>

      </ul>

    </nav>
  </div>
</aside>