<div class="hold-transition login-page">
  <div class="login-box animate__animated animate__backInLeft">
    <div class="card" style="text-align: center;">
      <img src="./assets/img/LOGO_AQ.png" style="width: 65%; height:65%; margin: auto;">
    </div>
    <div class="card card-outline card-primary">

    </div>
    <div class="card">
      <div class="login-logo">
        <br>
        <a href="#"><b>SIA</b>WEB</a>
      </div>
      <div class="card-body login-card-body">
        <p class="login-box-msg">No tiene permisos para visualizar esta pagina
         <br>
        <a href="{{strURLBASE}}">Ingresar</a>
      </p>
        <p class="mb-1">
          <a href="#">Aquarius Consulting</a>
        </p>
        <p class="mb-0">
          Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</div>
